<!-- templates/mapbox_filter_control.html -->
<div class="mapboxgl-ctrl mapboxgl-ctrl-group">
    <div class="control-list">
        {% for entry in entries %}
            <label for="{{ entry['title']|replace('[^a-z0-9-]','_') }}">{{ entry['title'] }}</label>
            <input type="text" list="nodes" id="{{ entry['id'] }}" placeholder="{{ entry['title'] }}" {% if entry['active'] == false %}disabled{% endif %}> 
            <datalist id="nodes">
                {% for node in get_nodes() %}
                    <option value="{{ node }}">
                {% endfor %}
            </datalist>
        {% endfor %}
    </div>
    <button type="button" class="ctrl-search {% if not active_is_default %}active{% endif %}"
            onclick="search()">
        Suche starten
    </button>
    <div id="results">Keine Anfrage gestartet.</div>
</div>
